
.products {
    background: #f1f1f1; 
    padding: 2rem 0; 
    min-height: 100%;
    display: flex;
    justify-content: center;
}

.title {
    line-height: 1;
    margin-bottom: 0;
}

.title-img {
    width: 33%;
}

.border-title {
    line-height: .8;
    font-size: 3.5rem;
    font-weight: 900;
    -webkit-text-stroke: 1px #000;
    color: rgba(0, 0, 0, 0);   
    margin-bottom: 0;
}

.bold-title {
    line-height: .8;
    font-weight: 900;
    font-size: 3.5rem;
    letter-spacing: 5px;
}

.product-card {
    img {
        width: 100%;
        object-fit: cover;
    }

    h4 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        padding: .5rem;
        height: 100px;
        font-weight: 600;
        background: #fff;
        margin-bottom: 0;
        cursor: pointer;
    }
}


.parallax-img {
    position: absolute; 
    top: 80px; 
    left: 0; 
    width: 10%;
}


.left-arrow {
    width: 40px; 
    cursor: pointer; 
    transform: rotate(180deg); 
    margin-right: 1rem;
}

.right-arrow {
    width: 40px; 
    cursor: pointer; 
    margin-left: 1rem;
}

// extra Small devices (smartphones, 576px and down)
@media (min-width: 250px) and (max-width: 374px) { 
    
    .parallax-img {
        width: 100px;
    }

    .general-title {
        font-size: 2rem;
    }

    .title-img {
        width: 90%;
    }

    .left-arrow {
        width: 30px; 
    }
    
    .right-arrow {
        width: 30px;
    }
}


// Small devices (smartphones, 576px and down)
@media (min-width: 375px) and (max-width: 576px) { 

    .parallax-img {
        width: 100px;
    }

    .general-title {
        font-size: 2rem;
    }

    .title-img {
        width: 90%;
    }

    .left-arrow {
        width: 30px; 
    }
    
    .right-arrow {
        width: 30px;
    }
}

// Medium devices (tablets, 768px and down)
@media (min-width: 577px) and (max-width: 768px) {
    .general-title {
        font-size: 2.6rem;
    }
    .title-img {
        width: 60%;
    }
}


// Large devices (desktops, 992px and dpwn)
@media (min-width: 769px) and (max-width: 1024px) { 
    .general-title {
        font-size: 2rem;
    }

    .title-img {
        width: 45%;
    }
}

// X-Large devices (large desktops, 1399px and down)
@media (min-width: 1025px) and (max-width: 1399px) {
    .general-title {
        font-size: 2.6rem;
    }

    .title-img {
        width: 44%;
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) and (max-width: 1599px)  {
    .title-img {
        width: 45%;
    }

    .general-title {
        font-size: 48px;
    }
}


@media (min-width: 1600px) {
    .title-img {
        width: 33%;
    }

    .general-title {
        font-size: 48px;
    }
}
