<div class="products">

    <img src="assets/imgs/Productos/ELEMENT_1.png" draggable="false" class="parallax-img" alt="">
    
    <div class="custom-container">

        <div class="text-center" style="margin-bottom: 3rem; position: relative;">
            <h2 class="general-title mb0">Conoce todo sobre los</h2>

            <img src="assets/imgs/Productos/Titulo_1.png" class="title-img" draggable="false">

            <!--h1 class="border-title">NATURALMENTE</h1>
            <h1 class="bold-title">IRRESISTIBLES</h1-->
        </div>

        <div style="display: flex; align-items: center;">
            <img src="assets/imgs/Productos/Flecha.png" (click)="slidePrev()" class="left-arrow" draggable="false">

            <swiper #swiper
                
                [grabCursor]="true"
                [navigation]="false"
                [breakpoints]="breakpoints"
                [initialSlide]="0" >
                <ng-template *ngFor="let product of products" swiperSlide >
                    <div class="product-card"  >
                        <img [src]="product.img" draggable="false" alt="">
                        <h4 (click)="navigateTo(['product', product.id])" >{{ product.name }}</h4>
                    </div>
                </ng-template>
            </swiper>

            <img src="assets/imgs/Productos/Flecha.png" (click)="slideNext()" class="right-arrow" draggable="false">

        </div>
    </div>

    <div style="width: 100%; text-align: end;">
        <button (click)="goTo()" class="go-to-top">
            <img src="assets/imgs/Por_Que_Naturales/flecha.png" style="width: 40px;" alt="">
        </button>
    </div>
</div>