
.products {
    background: #f1f1f1; 
    padding: 2rem 0; 
    min-height: 100%;
    display: flex;
    justify-content: center;
}

.title {
    line-height: 1;
    margin-bottom: 0;
}

.border-title {
    line-height: .8;
    font-size: 3.5rem;
    font-weight: 900;
    -webkit-text-stroke: 1px #000;
    color: rgba(0, 0, 0, 0);   
    margin-bottom: 0;
}

.bold-title {
    line-height: .8;
    font-weight: 900;
    font-size: 3.5rem;
    letter-spacing: 5px;
}

.product-card {
    img {
        width: 100%;
        height: 260px;
        object-fit: cover;
    }

    h4 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        padding: .5rem;
        height: 100px;
        font-weight: 600;
        background: #fff;
        margin-bottom: 0;
        cursor: pointer;
    }
}


.parallax-img {
    position: absolute; 
    top: 80px; 
    left: 0; 
    width: 150px;
}




// extra Small devices (smartphones, 576px and down)
@media (min-width: 250px) and (max-width: 374px) { 
    .border-title {
        font-size: 2.5rem;
    }
    
    .bold-title {
        font-size: 2.5rem;
    }

    .parallax-img {
        width: 100px;
    }
}


// Small devices (smartphones, 576px and down)
@media (min-width: 375px) and (max-width: 576px) { 
    .border-title {
        font-size: 2.5rem;
    }
    
    .bold-title {
        font-size: 2.5rem;
    }

    .parallax-img {
        width: 100px;
    }
}

// Medium devices (tablets, 768px and down)
@media (min-width: 577px) and (max-width: 768px) {
   
}


// Large devices (desktops, 992px and dpwn)
@media (min-width: 769px) and (max-width: 1024px) { 
    
}

// X-Large devices (large desktops, 1399px and down)
@media (min-width: 1025px) and (max-width: 1399px) {
   
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  
}