.solution {
    display: flex;
    justify-content: center;
    min-height: calc(100% - 80px);
    background: #e6e6e4;
    padding: 0 0 3rem 0;
}

.solution2 {
    display: flex;
    justify-content: center;
    min-height: calc(100% - 80px);
    background: #e6e6e4;
    padding: 0 0 3rem 0;
}

.solution-card {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    > img {
        width: 40%;
        object-fit: cover;
    }

    .solution-detail {
        width: 60%;
        padding: 2rem;
        padding-right: calc(8% + 2rem);

        .title {
            display: flex;
            align-items: center;
            gap: 2rem;
            margin-bottom: 2rem;

            img {
                width: 80px;
            }
        }

        h4 {
            margin-bottom: 2rem;
        }
    }
}

.solution-card2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    > img {
        width: 40%;
        object-fit: cover;
    }

    .solution-detail {
        width: 60%;
        padding: 2rem;
        padding-right: calc(8% + 2rem);

        .title {
            display: flex;
            align-items: center;
            gap: 2rem;
            margin-bottom: 2rem;

            img {
                width: 80px;
            }
        }

        h4 {
            margin-bottom: 2rem;
        }
    }
}

.link {
    text-align: right;
    margin-top: 2rem;

    .custom-link {
        width: 70%; 
        display: inline-flex; 
        align-items: center;
        gap: 1rem;
        cursor: pointer;
    
        h3 {
            display: inline-block;
        }
    }
}

.custom-btn {
    padding: .5rem 1rem;
    border-radius: 25px;
    color: #fff;
    background-color: #222;
    outline: none;
    border: none;

    &:active {
        background: rgba(34, 34, 34, .9);
    }
}

.solution-card.reverse {
    flex-direction: row-reverse;

    .solution-detail {
        padding: 2rem;
        padding-left: calc(8% + 2rem);
    }
}

.solution-card.reverse2 {
    flex-direction: row-reverse;

    .solution-detail {
        padding: 2rem;
        padding-left: calc(8% + 2rem);
    }
}

.reverse .link {
    text-align: left;

    .custom-link {
        flex-direction: row-reverse;

        img {
            transform: rotate(180deg);
        }
    }
}



.solution-detail-card {
    height: 100%; 
    width: 58%; 
    background: #fff; 
    padding: 3rem; 
    border: 1px solid #9b3c9b; 
    position: absolute; 
    right: -53%; 
    top: 0px;
    transition: .4s linear;
    /*overflow-y: auto;*/

    .solution-btn {
        position: absolute; 
        left: -17%; 
        top: calc(50% - 3rem); 
        background: #9b3c9b; 
        color: #fff; 
        padding: 1rem 3rem; 
        transform: rotate(-90deg); 
        border-radius: 0 0 50px 50px; 
        cursor: pointer;

        h2 {
            margin: 0;
        }
    }

    .solution-img {
        position: absolute; 
        left: -3%; 
        top: calc(50% - 120px); 
        cursor: pointer;
        width: 70px;
    }
}

.solution-detail-card2 {
    height: 100%; 
    width: 58%; 
    background: #fff; 
    padding: 3rem; 
    border: 1px solid #9b3c9b; 
    position: absolute; 
    right: -53%; 
    top: 0px;
    transition: .4s linear;
    /*overflow-y: auto;*/

    .solution-btn {
        position: absolute; 
        left: -17%; 
        top: calc(50% - 3rem); 
        background: #9b3c9b; 
        color: #fff; 
        padding: 1rem 3rem; 
        transform: rotate(-90deg); 
        border-radius: 0 0 50px 50px; 
        cursor: pointer;

        h2 {
            margin: 0;
        }
    }

    .solution-img {
        position: absolute; 
        left: -3%; 
        top: calc(50% - 120px); 
        cursor: pointer;
        width: 70px;
    }
}

.solution-detail-card2 {
    height: 100%; 
    width: 58%; 
    background: #fff; 
    padding: 3rem; 
    border: 1px solid #2A779B; 
    position: absolute; 
    right: -53%; 
    top: 0px;
    transition: .4s linear;
    /*overflow-y: auto;*/

    .solution-btn {
        position: absolute; 
        left: -17%; 
        top: calc(50% - 3rem); 
        background: #9b3c9b; 
        color: #fff; 
        padding: 1rem 3rem; 
        transform: rotate(-90deg); 
        border-radius: 0 0 50px 50px; 
        cursor: pointer;

        h2 {
            margin: 0;
        }
    }

    .solution-img {
        position: absolute; 
        left: -3%; 
        top: calc(50% - 120px); 
        cursor: pointer;
        width: 70px;
    }
}

.solution-detail-card.reverse {
    left: -53%;

    >.solution-btn {
        left: 81%;
        transform: rotate(90deg);
    }

    >.solution-img {
        left: 94%; 
    }
}

.solution-detail-card.reverse2 {
    left: -53%;

    >.solution-btn {
        left: 81%;
        transform: rotate(90deg);
    }

    >.solution-img {
        left: 94%; 
    }
}

.solution-detail-card.open {
    right: 0;
    transition: .4s linear;
}

.solution-detail-card.open2 {
    right: 0;
    transition: .4s linear;
}

.solution-detail-card.reverse.open {
    left: 0;
    transition: .4s linear;
}

.solution-detail-card.reverse.open2 {
    left: 0;
    transition: .4s linear;
}

.solution-list {
    padding-left: .5rem;

    li {
        list-style: none;
        margin-bottom: 2rem;
    }
}




// extra Small devices (smartphones, 576px and down)
@media (min-width: 250px) and (max-width: 374px) { 
    .solution-card {
        > img {
            width: 100%;
        }
    
        .solution-detail {
            width: 100%;
            padding-right: calc(4% + 2rem);
        }
    }   

    .solution-card.reverse {
        > img {
            width: 100%;
        }

        .solution-detail {
            width: 100%;
            padding-left: calc(4% + 2rem);
        }
    }
        
    .solution-detail-card {
        width: 100%; 
        right: -95%; 
        padding: 2rem;

        .solution-btn { 
            transition: .3s linear;
            left: -28%; 
        }

        .solution-img { 
            transition: .3s linear;
            left: -4%; 
            width: 50px;
        }
    }

    .solution-detail-card2 {
        width: 100%; 
        right: -95%; 
        padding: 2rem;

        .solution-btn { 
            transition: .3s linear;
            left: -28%; 
        }

        .solution-img { 
            transition: .3s linear;
            left: -4%; 
            width: 50px;
        }
    }

    .solution-detail-card.open {
        .solution-btn { 
            transition: .3s linear;
            left: -22%; 
        }
    }

    .solution-detail-card.open2 {
        .solution-btn { 
            transition: .3s linear;
            left: -22%; 
        }
    }

    .solution-detail-card.reverse {
        left: -95%;
    
        >.solution-btn {
            left: 69%;
        }

        >.solution-img { 
            left: 92%; 
        }
    }

    .link {
        .custom-link {
            width: 100%; 
        }
    }

    .solution-detail-card.reverse2 {
        left: -95%;
    
        >.solution-btn {
            left: 69%;
        }

        >.solution-img { 
            left: 92%; 
        }
    }

    .link {
        .custom-link {
            width: 100%; 
        }
    }

}



// Small devices (smartphones, 576px and down)
@media (min-width: 375px) and (max-width: 576px) { 
    .solution-card {
        > img {
            width: 100%;
        }
    
        .solution-detail {
            width: 100%;
            padding-right: calc(4% + 2rem);
        }
    }   

    
    .solution-card.reverse {
        > img {
            width: 100%;
        }

        .solution-detail {
            width: 100%;
            padding-left: calc(4% + 2rem);
        }
    }
        
    .solution-detail-card {
        width: 100%; 
        right: -95%; 
        padding: 2rem;

        .solution-btn { 
            transition: .3s linear;
            left: -28%; 
        }

        .solution-img { 
            transition: .3s linear;
            left: -4%; 
            width: 50px;
        }
    }

    .solution-detail-card2 {
        width: 100%; 
        right: -95%; 
        padding: 2rem;

        .solution-btn { 
            transition: .3s linear;
            left: -28%; 
        }

        .solution-img { 
            transition: .3s linear;
            left: -4%; 
            width: 50px;
        }
    }

    /*.solution-detail-card.open {
        .solution-btn { 
            transition: .3s linear;
            left: -5%; 
            width: 50px;
        }
    }*/

    .solution-detail-card.reverse {
        left: -95%;
    
        >.solution-btn {
            left: 71%;
        }

        >.solution-img { 
            left: 92%; 
        }
    }

    .link {
        .custom-link {
            width: 100%; 
        }
    }

    .solution-detail-card.reverse2 {
        left: -95%;
    
        >.solution-btn {
            left: 71%;
        }

        >.solution-img { 
            left: 92%; 
        }
    }

    .link {
        .custom-link {
            width: 100%; 
        }
    }

}

// Medium devices (tablets, 768px and down)
@media (min-width: 577px) and (max-width: 768px) {
    .solution-card {
        .solution-detail {
            padding-right: calc(4% + 2rem);
        }
    }   
        
    .solution-detail-card { 
        padding: 2rem;

        .solution-btn { 
            left: -26%; 
        }

        .solution-img { 
            left: -4%; 
            width: 60px;
        }
    }

    .solution-detail-card2 { 
        padding: 2rem;

        .solution-btn { 
            left: -26%; 
        }

        .solution-img { 
            left: -4%; 
            width: 60px;
        }
    }

    .solution-detail-card.reverse {
    
        >.solution-btn {
            left: 72%;
        }

        .solution-img { 
            left: 91%; 
            width: 60px;
        }
    }

    .solution-detail-card.reverse2 {
    
        >.solution-btn {
            left: 72%;
        }

        .solution-img { 
            left: 91%; 
            width: 60px;
        }
    }


    .link {
        .custom-link {
            width: 100%; 
        }
    }
}


// Large devices (desktops, 992px and dpwn)
@media (min-width: 769px) and (max-width: 1024px) { 
    .solution-detail-card { 

        .solution-btn { 
            left: -19%; 
        }

        .solution-img { 
            left: -3%; 
            width: 60px;
        }
    }

    .solution-detail-card2 { 

        .solution-btn { 
            left: -19%; 
        }

        .solution-img { 
            left: -3%; 
            width: 60px;
        }
    }

    .solution-detail-card.reverse {
    
        >.solution-btn {
            left: 77%;
        }

        >.solution-img { 
            left: 93%; 
            width: 60px;
        }
    }

    .solution-detail-card.reverse2 {
    
        >.solution-btn {
            left: 77%;
        }

        >.solution-img { 
            left: 93%; 
            width: 60px;
        }
    }

}

// X-Large devices (large desktops, 1399px and down)
@media (min-width: 1025px) and (max-width: 1399px) {
   
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    .solution-detail-card { 

        .solution-btn { 
            left: -19%; 
        }

        .solution-img { 
            left: -3%; 
            width: 70px;
        }
    }

    .solution-detail-card2 { 

        .solution-btn { 
            left: -19%; 
        }

        .solution-img { 
            left: -3%; 
            width: 70px;
        }
    }

    .solution-detail-card.reverse {
    
        >.solution-btn {
            left: 77%;
        }

        >.solution-img { 
            left: 94%; 
            width: 70px;
        }
    }

    .solution-detail-card.reverse2 {
    
        >.solution-btn {
            left: 77%;
        }

        >.solution-img { 
            left: 94%; 
            width: 70px;
        }
    }

}