<div class="solution" style="position: relative; width: 100vw; overflow-x: hidden;" >
    
    <div class="solution-card" [ngClass]="{ 'reverse': solution.reverse }" >
        <img [src]="solution.img" draggable="false" alt="">
        <div class="solution-detail" >
            <div class="title">
                <img [src]="solution.icon" draggable="false" alt="" >
                <h1 class="general-subtitle mb0">{{ solution.name }}</h1>
            </div>
            <h1 class="general-subtitle mb0">{{ solution.personName }}</h1>
            <h1 class="general-subtitle normal-text">{{ solution.personJob }}, {{ solution.personAge }} años</h1>

            <h4 class="general-text mb3">{{ solution.description }}</h4>

            <h1 class="general-subtitle">¿Conoces a alguien como {{ solution.personName }}?</h1>

            <div class="link">
                <div class="custom-link" (click)="toggle()">
                    <h3 class="general-subtitle normal-text mb0" >
                        Haz clic en la pestaña para conocer la solución
                    </h3>
                    <img src="assets/imgs/next_icon.png" draggable="false" alt="">
                </div>
            </div>
        </div>
    </div>


    <div id="solution_detail_card" class="solution-detail-card" [ngClass]="{ 'reverse': solution.reverse }" [style.border]="'1px solid ' + solution.border" >

        <img [src]="solution.solutionImg" (click)="toggle()" draggable="false" class="solution-img" alt="">

        <h1 class="general-subtitle text-center" style="margin-bottom: 5rem;">
            A esta persona le puedes ofrecer estos productos
        </h1>

        <div class="row">
            <div class="col-12 col-lg-4">
                <ol class="solution-list">
                    <li *ngFor="let product of solution.products; let i = index">
                        <h5 class="general-text">{{ (i + 1) }}. Nutrilite <sup>TM</sup> {{product.name }}</h5>
                    </li> 
                </ol>
            </div>
            <div class="col-12 col-lg-8">
                <div style="display: flex;">
                    <img *ngFor="let product of solution.products;" [src]="product.img" draggable="false" style="width: 33%" alt="">
                </div>
            </div>
        </div>

        <div class="text-center" style="margin-top: 3rem;">
            <button class="general-btn">
                Comprar ahora
            </button>
        </div>
    </div>
</div>