<div class="product-detail" >


    <img [src]="product.imgs[0]" draggable="false" class="parallax-img1" alt="">
    <img [src]="product.imgs[1]" draggable="false" class="parallax-img2" alt="">
    <img [src]="product.imgs[2]" draggable="false" class="parallax-img3" alt="">
    <img [src]="product.imgs[3]" draggable="false" class="parallax-img4" alt="">
    
    

    <div class="custom-container" style="position: relative;">
        <div class="product-detail-card" [ngClass]="{ 'reverse': product.reverse }">
            <div class="img">
                <img [src]="product.img" id="product" draggable="false" alt="">
                <img [src]="product.icon" id="icon" (click)="openModal()" draggable="false" alt="">
            </div>
            <div class="detail">
                <h1 [style.color]="product.color" >{{ product.name }}<br><small>{{ product.smallName }}</small></h1>
                <h2>{{ product.slogan }}</h2>
                <h5>MODO DE USO</h5>
                <p>{{ product.modeOfUse }}</p>
                <button type="button">Comprar ahora</button>
            </div>
        </div>

        <div class="small-letters">
           {{ product.footer }}
        </div>
    </div> 
</div>

<div id="product-detail" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body" style="padding: 2rem;">
                <div class="text-end">
                    <button (click)="closeModal()" type="button" class="close-btn" >X</button>
                </div>
                <h1 [style.color]="product.color" style="font-weight: 600;">{{ product.name }} {{ product.smallName }}</h1>
                <h2 style="font-weight: 600;">{{ product.slogan }}</h2>
                <br>
                <h5 [innerHtml]="product.description"></h5>
            </div>
        </div>
    </div>
</div>