<div class="sponsor">

    
    <img src="assets/imgs/Compras/IMG_11.png" draggable="false" style="width: 100%;" alt="">

    <div class="custom-container">


        <div style="padding: 4rem;" class="text-center">
            <h1 class="general-subtitle normal-text">¡Actualizamos nuestro Kit de inicio para hacerlo cada vez más ganador! </h1>

            <h5 class="general-text">Ahora los Nuevos Empresarios recibirán su <b>Kit de inicio con productos Irresistibles</b> y otros productos de nuestro portafolio para que  conozcan sus atributos y puedan ganar más  al venderlos desde el comienzo.</h5>

        </div>
    </div>

</div>