<div class="sponsor">

    
    <img src="assets/imgs/Auspicia/IMG_1.jpg" draggable="false" style="width: 100%; height: 1000px; object-fit: cover; object-position: 50% 20%;" alt="">

    <div class="custom-container">


        <div style="padding: 4rem;" class="text-center">
            <h1 class="general-subtitle normal-text">¡Actualizamos nuestro Kit de inicio para hacerlo cada vez más ganador! </h1>

            <h5 class="general-text mb3">Ahora los Nuevos Empresarios recibirán su <b>Kit de inicio con productos Irresistibles</b> y otros productos de nuestro portafolio para que  conozcan sus atributos y puedan ganar más  al venderlos desde el comienzo.</h5>

            <button (click)="openLink()" class="general-btn" style="background: #85BE00;">Conoce más</button>
        </div>
    </div>

</div>