<div style=" display: flex; justify-content: center;">
<div class="custom-container">
    <nav class="navbar-custom">
        <img src="assets/imgs/logo.png" [routerLink]="['/why-irresistible']" draggable="false" alt="" class="logo">
        
        <div class="menu" style="position: relative;">
            <div  (mouseleave)="closeSubMenu()">
                <button class="general-small-text mb0" (click)="closeSubMenu()" [routerLink]="['/products']" routerLinkActive="active-route" id="productsMenu" (mouseenter)="openSubMenu()" 
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    PRODUCTOS
                </button>
                <div class="dropdown-menu"  aria-labelledby="productsMenu">
                    <a (click)="closeSubMenu()" [routerLink]="['/product/1']" routerLinkActive="active-route" class="dropdown-item" href="javascript:void(0)"><b>Daily Plus</b></a>
                    <a (click)="closeSubMenu()" [routerLink]="['/product/2']" routerLinkActive="active-route" class="dropdown-item" href="javascript:void(0)"><b>Cal Mag D</b></a>
                    <a (click)="closeSubMenu()" [routerLink]="['/product/3']" routerLinkActive="active-route" class="dropdown-item" href="javascript:void(0)"><b>Proteina Vegetal</b></a>
                    <a (click)="closeSubMenu()" [routerLink]="['/product/4']" routerLinkActive="active-route" class="dropdown-item" href="javascript:void(0)"><b>Omega 3 Plus</b></a>
                    <a (click)="closeSubMenu()" [routerLink]="['/product/5']" routerLinkActive="active-route" class="dropdown-item" href="javascript:void(0)"><b>C Plus</b></a>
                    <a (click)="closeSubMenu()" [routerLink]="['/product/6']" routerLinkActive="active-route" class="dropdown-item" href="javascript:void(0)"><b>B Plus</b></a>
                    <a (click)="closeSubMenu()" [routerLink]="['/product/7']" routerLinkActive="active-route" class="dropdown-item" href="javascript:void(0)"><b>HCN</b></a>
                    <a (click)="closeSubMenu()" [routerLink]="['/product/8']" routerLinkActive="active-route" class="dropdown-item" href="javascript:void(0)"><b>Agua Micelar Aristry Skin Nutrition</b></a>
                    <a (click)="closeSubMenu()" [routerLink]="['/product/9']" routerLinkActive="active-route" class="dropdown-item" href="javascript:void(0)"><b>Glister Pasta de Dientes</b></a>
                    <a (click)="closeSubMenu()" [routerLink]="['/product/10']" routerLinkActive="active-route" class="dropdown-item" href="javascript:void(0)"><b>L.O.C. Limpiador Multiusos</b></a>
                </div>
            </div>
        
            <button class="general-small-text mb0" [routerLink]="['/ingredients']" routerLinkActive="active-route" type="button">INGREDIENTES</button>
            <button class="general-small-text mb0" [routerLink]="['/solutions']" routerLinkActive="active-route" type="button">SOLUCIONES</button>
            <button class="general-small-text mb0" [routerLink]="['/tools']" routerLinkActive="active-route" type="button">HERRAMIENTAS</button>
            <button class="general-small-text mb0" type="button">AUSPICIA</button>
            <button class="general-small-text mb0" [routerLink]="['/buy']" routerLinkActive="active-route" type="button">COMPRAR</button>
        </div>
        <button type="button" (click)="toggle()" class="toggle-btn" [ngClass]="{ 'change': isOpen }">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </button>
    </nav>
</div>
</div>