<div class="sidebar" [ngClass]="{ 'open': isOpen }">
    <div class="sidebar-items">
        <button [routerLink]="['/why-irresistible']" routerLinkActive="active-route" type="button" (click)="isOpen = false; close();" ><h4 class="general-subtitle mb0">¿POR QUÉ SON IRRESISTIBLES?</h4></button>
        <button (click)="toggle()" type="button" ><h4 class="general-subtitle mb0">PRODUCTOS</h4></button>
        
        <div class="submenu" [ngClass]="{ 'open': isOpenSubMenu }" >
            <!--button (click)="isOpen = false; close();" [routerLink]="['/products']" type="button">Nutrición</button>
            <button (click)="isOpen = false; close();" [routerLink]="['/products']" type="button">Belleza</button>
            <button (click)="isOpen = false; close();" [routerLink]="['/products']" type="button">Cuidado Personal</button>
            <button (click)="isOpen = false; close();" [routerLink]="['/products']" type="button">Hogar</button-->
            
            <button (click)="isOpen = false; close();" [routerLink]="['/products']" type="button" class="general-text mb0">Todos</button>
            <button (click)="isOpen = false; close();" [routerLink]="['/product/1']" type="button" class="general-text mb0">Daily Plus</button>
            <button (click)="isOpen = false; close();" [routerLink]="['/product/2']" type="button" class="general-text mb0">Cal Mag D</button>
            <button (click)="isOpen = false; close();" [routerLink]="['/product/3']" type="button" class="general-text mb0">Proteina Vegetal</button>
            <button (click)="isOpen = false; close();" [routerLink]="['/product/4']" type="button" class="general-text mb0">Omega 3 Plus</button>
            <button (click)="isOpen = false; close();" [routerLink]="['/product/5']" type="button" class="general-text mb0">C Plus</button>
            <button (click)="isOpen = false; close();" [routerLink]="['/product/6']" type="button" class="general-text mb0">B Plus</button>
            <button (click)="isOpen = false; close();" [routerLink]="['/product/7']" type="button" class="general-text mb0">HCN</button>
            <button (click)="isOpen = false; close();" [routerLink]="['/product/8']" type="button" class="general-text mb0">Agua Micelar Aristry Skin Nutrition</button>
            <button (click)="isOpen = false; close();" [routerLink]="['/product/9']" type="button" class="general-text mb0">Glister Pasta de Dientes</button>
            <button (click)="isOpen = false; close();" [routerLink]="['/product/10']" type="button" class="general-text mb0">L.O.C. Limpiador Multiusos</button>
        </div>
        
        <button [routerLink]="['/ingredients']" routerLinkActive="active-route" type="button" (click)="isOpen = false; close();" ><h4 class="general-subtitle mb0">INGREDIENTES</h4></button>
        <button [routerLink]="['/solutions']" routerLinkActive="active-route" type="button" (click)="isOpen = false; close();" ><h4 class="general-subtitle mb0">SOLUCIONES</h4></button>
        <button [routerLink]="['/tools']" routerLinkActive="active-route" type="button" (click)="isOpen = false; close();" ><h4 class="general-subtitle mb0">HERRAMIENTAS</h4></button>
        <button type="button" (click)="isOpen = false; close();" ><h4 class="general-subtitle mb0">AUSPICIA</h4></button>
        <button [routerLink]="['/buy']" routerLinkActive="active-route" type="button" (click)="isOpen = false; close();" ><h4 class="general-subtitle mb0">COMPRAR</h4></button>

    </div>
</div>