
.sidebar {
    width: 100%;
    height: 100vh;
    background: #f1f1f1;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 5;
    transition: .5s linear;
    

    .sidebar-items {
        min-height: 100%;
        overflow-y: scroll !important;
        display: flex;
        flex-direction: column;
        justify-content: center;

        button {
            display: block;
            width: 100%;
            background: transparent;
            text-align: center;
            border: none;
            outline: none;
            padding: 0.8rem;
            font-size: 1rem;
            &:active {
                background: #e8e8e8;
            }
        }
    
        .submenu {
            overflow: hidden;
            max-height: 0;
            transition: max-height 300ms ease-out;
    
            button {
                background: #fcfcfc !important;
            }
        }
        
        .submenu.open {
            max-height: 100%;
            transition: max-height 300ms ease-out;
        }
    }
    
}

.sidebar.open {
    left: 0;
    transition: .5s linear;
    overflow-y: scroll !important;
}

.active-route {
    background: #e8e8e8 !important;
}


// extra Small devices (smartphones, 576px and down)
@media (min-width: 250px) and (max-width: 374px) { 
    .sidebar {
        top: 80px;
        min-height: calc(100vh - 80px);
    }
}


// Small devices (smartphones, 576px and down)
@media (min-width: 375px) and (max-width: 576px) { 
    .sidebar {
        top: 80px;
        min-height: calc(100vh - 80px);
    }
}

// Medium devices (tablets, 768px and down)
@media (min-width: 577px) and (max-width: 768px) {
    .sidebar {
        top: 80px;
        min-height: calc(100vh - 80px);
    }
}

// Large devices (desktops, 992px and dpwn)
@media (min-width: 769px) and (max-width: 1024px) { 
    
}

// X-Large devices (large desktops, 1399px and down)
@media (min-width: 1025px) and (max-width: 1399px) {
   
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  
}