

        
<div class="ingredients" style="overflow-x: hidden; overflow-y: hidden;" >

 
    <div class="custom-center" style="background: #f1f1f1; padding: 2rem 0 5rem; min-height: calc(100vh - 80px); position: relative; ">
        
        <img id="parallax1" src="assets/imgs/parallax1.png" value="-1" style="width: 150px; height: 150px; z-index: 3; position: absolute; left: 0px; top: 0px; transition: .5s linear;" alt="image">
    
        <img id="parallax2" src="assets/imgs/parallax2.png" style="width: 150px; height: 150px; z-index: 3; position: absolute; right: 0px; top: 0px; transition: .5s linear;" alt="image">
    
        <img id="parallax3" src="assets/imgs/parallax3.png" style="width: 200px; height: 200px; z-index: 3; position: absolute; left: 0px; bottom: 0px; transition: .5s linear;" alt="image">
    
        <img id="parallax4" src="assets/imgs/parallax4.png" style="width: 200px; height: 200px; z-index: 3; position: absolute; right: 0px; bottom: 0px; transition: .5s linear;" alt="image" >
       
        
        <div id="content" class="custom-container" style="z-index: 2">   
            
            <div class="title">
                <h1 >Nuestros ingredientes</h1>
                <h4>Nos esforzamos por utilizar los mejores ingredientes posibles, ya que tu mereces saber que contiene cada producto</h4>
            </div>

            <swiper 
                [slidesPerView]="1"
                [grabCursor]="true"
                [navigation]="true"
                [initialSlide]="0" >
                <ng-template *ngFor="let certification of certifications" swiperSlide >
                    <div class="custom-center">

                        <div class="certifications-card">
                            <h4>Ingredientes con certificación orgánica</h4>
                            <div>
                                <h5>{{ certification.description }}</h5>

                                <div class="text-center">
                                    <button class="custom-btn">Da clic aquí</button>
                                </div>
                            </div>
                            
                        </div>

                    </div>
                </ng-template>
            </swiper>


        </div>
    </div>

    <div class="custom-center" style="background: #fff; padding: 3rem 0; min-height: calc(100vh - 80px); align-items: flex-start;">
        <div id="content2" class="custom-container" style="z-index: 2">   
        

            <div class="custom-tabs">
                <button (click)="tab = 1" [ngClass]="{ 'active': tab == 1 }"><h3>Ingredientes Nutrilite<sup>TM</sup></h3></button>
                <button (click)="tab = 2" [ngClass]="{ 'active': tab == 2 }"><h3>Ingredientes Artistry<sup>TM</sup></h3></button>
            </div>

            <div *ngIf="tab == 1">
                <div class="custom-row">

                    <div *ngFor="let ingredient of ingredients" class="custom-col">
                        <div class="ingredients-card">
                            <img [src]="ingredient.img" draggable="false" alt="">
                            <div>
                                <h4>{{ ingredient.name }}</h4>
                                <h6>{{ ingredient.description }}</h6>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>

            <div *ngIf="tab == 2">
                <div class="custom-row">

                    <div *ngFor="let ingredient2 of ingredients2" class="custom-col">
                        <div class="ingredients-card">
                            <img [src]="ingredient2.img" draggable="false" alt="">
                            <div>
                                <h4>{{ ingredient2.name }}</h4>
                                <h6>{{ ingredient2.description }}</h6>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>

            
        </div>
    </div>

</div>
