

        
<div class="ingredients" style="overflow-x: hidden; overflow-y: hidden;" >

 
    <div class="custom-center" style="background: #f1f1f1; padding: 2rem 0 5rem; min-height: calc(100vh - 80px); position: relative; ">
        
        <img id="parallax1" src="assets/imgs/Ingredientes/ICON_3.png" class="parallax1" alt="image">
    
        <img id="parallax2" src="assets/imgs/Ingredientes/ICON_4.png" class="parallax2" alt="image">
    
        <img id="parallax3" src="assets/imgs/Ingredientes/ICON_1.png" class="parallax3" alt="image">
    
        <img id="parallax4" src="assets/imgs/Ingredientes/ICON_2.png" class="parallax4" alt="image" >
       
        
        <div id="content" class="custom-container" style="z-index: 2">   
            
            <div class="text-center">
                <h1 class="general-subtitle" >Nuestros ingredientes</h1>
                <h4 class="general-text" >Nos esforzamos por utilizar los mejores ingredientes posibles, ya que tu mereces saber que contiene cada producto</h4>
            </div>

            <swiper 
                [slidesPerView]="1"
                [grabCursor]="true"
                [navigation]="true"
                [initialSlide]="0" >
                <ng-template *ngFor="let certification of certifications" swiperSlide >
                    <div class="custom-center">

                        <div class="certifications-card">
                            <h4 class="general-text bold-text mb0">{{ certification.title }}</h4>
                            <div>
                                <h5 class="general-text" [innerHtml]="certification.description"></h5>

                                <div class="text-center">
                                    <button class="general-btn">Leer más</button>
                                </div>
                            </div>
                            
                        </div>

                    </div>
                </ng-template>
            </swiper>


        </div>
    </div>

    <div class="custom-center" style="background: #fff; padding: 3rem 0; min-height: calc(100vh - 80px); align-items: flex-start;">
        <div id="content2" class="custom-container" style="z-index: 2">   
        

            <div class="custom-tabs">
                <button (click)="tab = 1" [ngClass]="{ 'active': tab == 1 }">
                    <h3 class="general-text mb0">Ingredientes Nutrilite™</h3>
                </button>
                <button (click)="tab = 2" [ngClass]="{ 'active': tab == 2 }">
                    <h3 class="general-text mb0">Ingredientes Artistry™</h3>
                </button>
            </div>

            <div *ngIf="tab == 1">
                <div class="custom-row">

                    <div *ngFor="let ingredient of ingredients" class="custom-col">
                        <div class="ingredients-card">
                            <img [src]="ingredient.img" draggable="false" alt="">
                            <div>
                                <h4 class="general-text bold-text">{{ ingredient.name }}</h4>
                                <h6 class="general-text">{{ ingredient.description }}</h6>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>

            <div *ngIf="tab == 2">
                <div class="custom-row">

                    <div *ngFor="let ingredient2 of ingredients2" class="custom-col">
                        <div class="ingredients-card">
                            <img [src]="ingredient2.img" draggable="false" alt="">
                            <div>
                                <h4 class="general-text bold-text">{{ ingredient2.name }}</h4>
                                <h6 class="general-text">{{ ingredient2.description }}</h6>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>

            
        </div>
    </div>

</div>
