<div class="tools" >
    <div class="custom-container">

    
        <h1 class="title">Herramientas</h1>
        
        <h3 class="text-center">Te ofrecemos todas estas herramientas para que hagas crecer tu negocio con los naturalmente irresistibles</h3>
        
        <div class="row">
            <div *ngFor="let tool of tools" class="col-12 col-md-4">
                <div class="tools-card">
                    <img [src]="tool.img" draggable="false" alt="">
                    <div>
                        <h6>{{ tool.name }}</h6>
                        <small>{{ tool.description }}</small>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    

</div>