<div class="tools" >
    <div class="custom-container">
    
        <div class="text-center">
            <h1 class="general-subtitle mb0">Conoce las herramientas</h1>
            <img src="assets/imgs/Productos/Titulo_1.png" class="title-img mb4" draggable="false">
            <h3 class="general-text">
                Te ofrecemos todas estas herramientas para que hagas crecer tu negocio con los productos Naturalmente Irresistibles.
            </h3>
        </div>
        
        <div class="row">
            <div *ngFor="let tool of tools" class="col-12 col-md-4">
                <div class="tools-card">
                    <img [src]="tool.img" draggable="false" alt="">
                    <div>
                        <h6 (click)="navigateTo(['tool', tool.id])" class="general-small-text" style="cursor: pointer;">{{ tool.name }}</h6>
                        <small class="general-small-text">{{ tool.description }}</small>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    

</div>