
.tools {
    background: #fff; 
    padding: 3rem 1rem;
    min-height: 100%;
    display: flex;
    justify-content: center;
}

.title {
    text-align: center;
    color: #444;
    margin-bottom: 1rem;
    font-weight: 900;
}

h3 {
    text-align: center;
    color: #444;
    margin-bottom: 3rem;
}


.tools-card {
    background: #e5e5e5;
    text-align: center;
    padding: 2rem;
    margin-bottom: 2rem;
    height: calc(100% - 2rem);

    img {
        width: 50%;
        height: 100px;
        object-fit: contain;
        margin-bottom: 1rem;
    }

    > div {
        h6 {
            padding: 1rem 2rem;
            background: #fff;
            border-radius: 50px;
            margin: 1rem 0;
            box-shadow: 0 0 15px 1px #a9a9a9;
        }
    }
}