<app-navbar [isOpen]="isOpen" (isOpenSidebar)="toggle($event)"></app-navbar>
<app-sidebar [isOpen]="isOpen" (closeSidebar)="toggle($event)" ></app-sidebar>

<router-outlet></router-outlet>

<button type="button" (click)="toggle(null)" class="toggle-btn" [ngClass]="{ 'change': isOpen }">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
</button>


<img src="assets/imgs/Productos/ICON_1.png" draggable="false" class="fixed-btn"  alt="">


<button (click)="goTo()" class="general-small-text go-to-top">
    GO TO TOP
</button>

<!--button  >
    <span class="border">NATURALMENTE</span>
    <span class="bold">IRRESISTIBLES</span>
</button-->