
.why-irresistible {
    position: relative;
    background: #d1d9ff; 
    padding-top: 3rem; 
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
    min-height: calc(100% - 80px);
    max-width: 100vw;
    overflow-x: hidden !important;
}

.why-irresistible2 {
    background: #fff; 
    padding-top: 3rem; 
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}

.logos-section {
    background: #76c655;
    width: 100%; 
    padding: 2rem 0; 
    padding-bottom: 0; 
    margin-bottom: 2rem; 
    display: flex; 
    justify-content: center;
}

.custom-row {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.custom-col {
    width: calc(25% - 2rem);
    margin: 0 1rem 1rem 1rem;
    height: 330px;
}

.blue {
    color: #1b557c;
}

.title {
    text-align: center;
    color: #1b557c;
    margin-bottom: 5rem;

    b {
        font-weight: 900;
    }
}

.green {
    color: green;
    margin-bottom: 2rem;

    b {
        font-size: xxx-large;
    }
}

.custom-btn {
    padding: .5rem 2rem;
    border-radius: 25px;
    color: #fff;
    background-color: #222;
    outline: none;
    border: none;

    &:active {
        background: rgba(34, 34, 34, .9);
    }
}

.irresistible-detail-card {
    text-align: center;
    height: 340px;
    background: #fff;
    color: #222;

    img {
        width: 40%;
    }

    h6{
        padding: 1rem;
        text-align: left;
    }
}


.irresistible-card {
    
    img {
        width: 100%;
        height: 240px;
        object-fit: cover;
    }

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: .5rem;
        height: 100px;
        background: #fff;
    }

    h5, h2 {
        color: #1b557c;
        text-align: center;
        margin-bottom: 0;
    }

    h2 {
        font-weight: 900;
    }
}

.flip-card {
    background-color: transparent;
    cursor: pointer;
}
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
  
.flip-card:active .flip-card-inner {
    transform: rotateY(180deg);
}
  
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
  
.flip-card-back {
    transform: rotateY(180deg);
}



// extra Small devices (smartphones, 576px and down)
@media (min-width: 250px) and (max-width: 374px) { 
    .custom-col {
        width: calc(100% - 2rem) !important;
    }
    .irresistible-card {
        div {
            height: auto;
        }
    }

}


// Small devices (smartphones, 576px and down)
@media (min-width: 375px) and (max-width: 576px) { 
    .custom-col {
        width: calc(100% - 2rem) !important;
    }
    .irresistible-card {
        div {
            height: auto;
        }
    }
    
}

// Medium devices (tablets, 768px and down)
@media (min-width: 577px) and (max-width: 768px) {
    .custom-col {
        width: calc(50% - 2rem) !important;
    }

    .irresistible-card {
        div {
            height: auto;
        }
    }
}


// Large devices (desktops, 992px and dpwn)
@media (min-width: 769px) and (max-width: 1024px) { 

}

// X-Large devices (large desktops, 1399px and down)
@media (min-width: 1025px) and (max-width: 1399px) {
   
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  
}