<div class="text-center">
    <img src="assets/imgs/Productos/IMG_6.png" draggable="false" style="width: 100%;" alt="">
    
    <p class="general-text" >Desliza para ver más</p>
</div>


<div class="why-irresistible" >
    
    <div class="custom-container" style="position: relative;">
        
        <div class="text-center">
            <h1 class="general-subtitle normal-text" >¿Qué son los productos <b class="bold-text">Naturalmente Irresistibles</b>?</h1>
        
            <h4 class="general-text" >Es una selección de productos de nuestro portafolio que te ayuda a conectar con las necesidades de tus <b class="blue">clientes</b> para que <b class="blue">vendas</b> y <b class="blue">ganes más</b>.</h4>
            
            <h1 class="general-subtitle normal-text">¿Por qué son <b class="bold-text">Naturalmente Irresistibles</b>?</h1>    
        </div>

        <div class="row" style="position: relative;">
            <div *ngFor="let item of whyIrresistibles" class="col-12 col-md-6 col-lg-3">
                
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <div class="irresistible-card" >
                                <div>
                                    <h5>{{ item.smallTitle }}</h5>
                                    <h2>{{ item.bigTitle }}</h2>
                                </div>
                                
                                <img [src]="item.img" draggable="false" alt="">
                            </div>
                        </div>
                        <div class="flip-card-back">
                            <div class="irresistible-detail-card">
                                <img [src]="item.icon" draggable="false" alt="">
                                
                                <h6 class="general-small-text" [innerHtml]="item.description"></h6>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<div class="natural-ingredients">
    <img src="assets/imgs/Por_Que_Naturales/IMG_2.png" draggable="false" alt="">
    <div class="content">

        <h1 class="general-subtitle normal-text">Ingredientes <b class="bold-text">Naturales</b></h1>
        
        <h3 class="general-text">El poder de la naturaleza está en cada uno de nuestros productos. <br>Con el proceso único de <b class="bold-text">trazabilidad</b> garantizamos que los ingredientes sean <b class="bold-text">puros, seguros y efectivos</b>.</h3>
    
        <h3 class="general-text">Conoce más de nuestro proceso en esta infografía</h3>

        <button class="general-btn">Descargar</button>

        <div class="natural-footer">
            <img src="assets/imgs/Por_Que_Naturales/ICON_9.png"  alt="">

            <div >
                <button class="general-btn">Conoce más</button>
                <br><br>
                <button class="general-btn">Conoce más</button>
            </div>
        </div>
    </div>
</div>


<div class="why-irresistible2" >
    <div class="custom-container">

        <div class="text-center">
            <h1 class="general-subtitle flex-center">
                <img src="assets/imgs/Por_Que_Naturales/ICON_5.png" draggable="false" class="title-icon" alt=""> Productos con alta calidad
            </h1>
        
            <h4 class="general-text normal-text">Lo mejor de la naturaleza y lo mejor de la ciencia con <span class="bold-text">calidad garantizada</span> desde la semilla hasta el producto.</h4>
        </div>
    </div>

    <div class="logos-section">
        <div class="custom-container">
            <div class="row" style="justify-content: center;" >
                <div class="col-12 col-md-6" style="margin-bottom: 2rem;">
                    <div class="text-center">
                        <img src="assets/imgs/Por_Que_Naturales/ICON_1.png" class="logos-icon" draggable="false" alt="">
                        <br>
                        <button class="general-btn mb1" type="button" >Saber más</button>
                    </div>
                </div>
                <div class="col-12 col-md-6" style="margin-bottom: 2rem;">
                    <div class="text-center">
                        <img src="assets/imgs/Por_Que_Naturales/ICON_2.png" class="logos-icon" draggable="false" alt="">
                        <br>
                        <button class="general-btn mb1" type="button" >Saber más</button>
                    </div>
                </div>
                <div class="col-12 col-md-6" style="margin-bottom: 2rem;" >
                    <div class="text-center">
                        <img src="assets/imgs/Por_Que_Naturales/ICON_3.png" class="logos-icon" draggable="false" alt="">
                        <br>
                        <button class="general-btn mb1" type="button" >Saber más</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

